# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/
Portfolio-Website.pem

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo